.General{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgb(247, 246, 245);
}
.general1{
margin-top: 20px;
}
.InstaLogo{
    background-position: 0px -52px;
    background-size: auto;
    width: 175px;
    height: 51px;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 30px;  
}
.general2{
    /* margin-left: 7cm; */
    height: 680px;
    width: 350px;
    border: 1px solid rgb(209, 205, 199);
    background-color: rgb(255, 255, 255);
}
.General_2{
    height: 60px;
    width: 350px;
    border: 1px solid rgb(209, 205, 199);
    background-color: rgb(255, 255,255);
    margin: 10px;
    font-size: 15px;
    /* margin-left: 7.23cm; */
}
.facebooklogo{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
}
input{
    border-radius: 2px;
    background-color: rgb(250, 250,250);
    font-weight: 400;
    line-height: 20;
    font-size: 13px;
    padding: 9px 0 7px 8px;
    height: 20px;
    width: 250px;
    outline: none;
    margin: 10px 0;
border: 1px solid rgb(219, 219, 219);
}
.Login_button1{
border-radius: 5px;
background-color: #47afff;
color: white;
padding: 5px 9px;
border: none;
width: 268px;
height: 30px;
font-size: 14px;
font-weight: bold;
margin: 10px;
margin-bottom: 15px;
cursor: pointer;
transition: 1s;
}
.Login_button1:hover{
    background-color: rgb(219, 219, 219);
    color: #47afff;
}
.linesbox{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 20px;
font-weight: bold;
color: #8e8e8e;
font-size: 13px;
}
.line1{
    width: 106px;
    height: 1px;
    background-color: #bdbdbd;
    margin-right: 15px;
    margin-left: 15px;
}
.facebookbox{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.facebookbox2{
    color: #385185;
    font-weight: bold;
    font-size: 13px;
}
.forgotline{
    font-size: 13px;
    color: #385185;
}
.Sgn{
    margin-top: 20px;
}
.Span{
    color: #47afff;
    font-size: 15px;
font-weight: bold;
flex-direction: none;
}
.Applogo{
    width: 130px;
    height: 40px;
    margin-right: 20px;
}
.Googlelogo{
    width: 130px;
    height: 40px;
}
.get{
    font-size: 15px;
    margin-top: 5px;
}
.error{
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   margin-right: 90px;
   color: rgb(255,51,51);
} 
.downoflogo{
    color: rgb(142,142,142);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 50px 20px 40px;
    text-align: center;
}
.downoflastinput{
   color: rgb(142,142,142);
    font-size: 12px;
    margin: 0 50px 20px 40px;
}
.spann{
    color: rgb(5, 5, 65);
}
